/*#pieces-table tr td:hover {*/
/*opacity: 0.6;*/
/*transform:scale(1.025);*/
/*}*/
#puzzle-table tr td:hover {
    opacity: 0.6;
    transform:scale(1.025);
}

/*#pieces-table tbody tr td {*/
    /*!* css3 shadow *!*/
    /*-moz-box-shadow: inset 0 0 20px #55070f;*/
    /*-webkit-box-shadow: inset 0 0 20px #555555;*/
    /*-ms-box-shadow: inset 0 0 20px #555555;*/
    /*-o-box-shadow: inset 0 0 20px #555555;*/
    /*box-shadow: inset 0 0 20px #555555;*/
/*}*/

.container {
    text-align: center;
    padding: 50px;
}